.content{
  padding-top: 100px;
  background-color: #212428;
}
.container{
  max-width: 1300px;
  margin: auto;
}
.content__connect{
  padding-bottom: 80px;
}
.content__connect-wrap:hover{
  background-color: #1f2226;
  cursor: pointer;
}
.content__connect-wrap{
  text-align: center;
  padding: 40px;
  background-color:#282b2f;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: block;
  text-decoration: none;
}
.content__connect-img{
  background-size:cover ;
}
.content__connect-descripton{
  display: block;
  color: var(--white-color);
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 10px;
  white-space: nowrap;
}
/* content__new */
.content__new{
  padding-bottom: 80px;
}
.content__title{
  font-size: 3rem;
  font-weight: 600;
  color: var(--white-color);
  margin-bottom: 20px;
}
.content__new-wrapper{
  padding: 40px 20px 20px;
  background-color:#282b2f;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  position: relative;
}
.content__new-times{
  position: absolute;
  top:25px;
  right:20px;
}
.content__new-img-link{
  overflow: hidden;
}
.content__new-img{
  width: 100%;
  height:100%;
  background-size: cover;
  border-radius: 5px;
  animation: un-img-animation linear 0.3s forwards;
}
.content__new-wrapper:hover .content__new-img{
  animation: img-animation linear 0.3s forwards;
}
.content__new-user:hover {
  border: 5px solid var(--secondary-color) !important;
}

@keyframes img-animation{
  from{
      transform: scale(1, 1);
  }
  to{
      transform: scale(1.02, 1.02);
  }
}
@keyframes un-img-animation{
  from{
      transform: scale(1.02, 1.02);
  }
  to{
      transform: scale(1, 1);
  }
}
.content__new-user{
  position: absolute;
  top:20px;
  left:20px;
  width: 50px;
  display:inline-block;
  height: 50px;
  border-radius: 50%;
}
.content__new-user-link{
  text-decoration: none;
}
.content__new-user-img{
  width: 100%;
  border-radius: 50%;
  height:100%;
}

.content__new-check{
  position: absolute;
  top: 50px;
  left: 54px;
  z-index: 1;
  border-radius: 100%;
  background-color: var(--secondary-color);
  text-align: center;
  padding: 3px;
}
.content__new-check-icon{
  font-size: 1rem;
  color: var(--white-color);
  line-height:16px;
}
.content__new-times{
  padding: 7px;
  background-color:  #403f83;
  border: 1px solid var(--secondary-color);
  border-radius: 12pt;
}
.content__new-times-count{
  font-size:1.4rem;
  color: var(--white-color);
  font-weight:700;
  letter-spacing:1px;
}
.content__new-description{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content__new-description-link{
  font-size:1.6rem;
  color: var(--white-color);
  font-weight: 500;
  text-decoration: none;
  margin-top: 10px;
}
.content__new-description-more{
  color: var(--white-color);
  font-size: 3rem;
}
.content__new-price{
  padding: 10px 0;
}
.content__new-price-eth{
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 500;
}
.content__new-price-quantity{
  color: var(--white-color);
  font-size: 1.4rem;
  font-weight: 500;
  margin-left:5px; 
}
.content__new-reaction-wrap{
  float: left;
}
.content__new-reaction{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content__new-reaction-link{
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--secondary-color);
}
.content__new-reaction-icon{
  font-size: 1.2rem;
  color: var(--text-color);
}
.content__new-reaction-icon:hover{
  color: #ec7498;
  cursor: pointer;
}
.content__new-reaction-number{
  font-size: 1.2rem;
  color: var(--white-color);
}
/* Trending */
.content__trending{
  padding-bottom: 80px;
}
.content__trending-wrap{
  padding: 10px;
  background-color:#282b2f;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  position: relative;
  text-align:center;
}
.content__trending-img{
  width: 100%;
  height:100%;
  background-size: cover;
  border-radius: 10px;
  animation: un-img-animation linear 0.3s forwards;
}
.content__trending-check{
  position: absolute;
  right: 90px;
  z-index: 1;
  border-radius: 100%;
  background-color: var(--secondary-color);
  text-align: center;
  padding: 3px;
}
.content__trending-check-icon{
  font-size: 1rem;
  color: var(--white-color);
  line-height:16px;
}
.content__trending-user-link{
  position: absolute;
  top:42%;
  left: 40%;
}
.content__trending-user-img{
  width:60px;
  height:60px;
  border-radius:50%;
  animation: un-img-animation linear 0.3s forwards;
}
.content__trending-wrap:hover .content__trending-img{
  animation: img-animation linear 0.3s forwards;
}
.content__trending-wrap:hover .content__trending-user-img{
  animation: img-animation linear 0.3s forwards;
}
.content__trending-name{
  display: block;
  text-decoration: none;
  font-size:1.6rem;
  color:var(--white-color);
  font-weight: 600;
  padding-top:25px;
}
.content__trending-description{
  display: block;
  font-size:1.4rem;
  color:var(--text-color);
  margin-top: 10px;
  padding-bottom: 20px;
}
/* Seller */
.content__seller{
  padding-bottom: 80px;
}
.content__seller-wrap{
  padding-left: 20px;
}
.content__seller-item{
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
  padding: 0;
  list-style-position: inside;
}
.content__seller-list::marker{
  font-size: 1.6rem;
  color: var(--text-color);
}
.content__seller-list{
  list-style-position: inside;
  margin-bottom: 5px;
  padding-top: 10px;
}
.content__seller-list-profile{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-size: cover;
}
.content__seller-link{
  text-decoration: none; 
  display: block;
  width:50px;
  height: 50px;
  border-radius: 50%;
  transition: all linear 0.3s;
}
.content__seller-img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.content__seller-list-check{
  color: var(--white-color);
  padding: 3px;
  background-color:var(--secondary-color);  
  border-radius:50%;
  position:absolute;
  right: 0;
  bottom: 0;
}
.content__seller-list-info{
  padding-left: 10px;
}
.content__seller-list-info-link{
  text-decoration: none;
}
.content__seller-list-info-name{
  display: block;
  font-size: 1.5rem;
  color: var(--white-color);
  padding-bottom: 5px;
  font-weight:600;
  white-space: nowrap;
}
.content__seller-list-info-quantity{
  display: block;
  font-size: 1.4rem;
  color: var(--text-color);
}
.content__seller-full{
  width:50px;
  height:50px;
  display: flex;
  align-items: center;
  margin-left: 30px;
  transform: translateY(-13px);
}
.content__title-different{
  font-size: 3rem;
  font-weight: 600;
  color: var(--white-color);
  margin-bottom: 20px;
  margin-top: 0;;
}
.content__seller-link:hover{
  border: 5px solid var(--secondary-color);
}
/* guide */
.content__guide{
  padding-bottom: 50px;
}
.content__guide-wrap{
  padding: 50px;
  background-color: #26292d;
  border-radius:5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  position: relative;
  overflow: hidden;
}
.content__guide-background-icon{
  position: absolute;
  font-size: 240px;
  background: none;
  width: auto;
  height: auto;
  color: rgba(131, 100, 226, .5);
  right: 0;
  top: 30%;
  opacity: 0.2;
  transition:all ease 0.7s ;
}
.content__guide-icon{
  font-size:3rem;
  color: var(--white-color);
  padding: 10px;
  background-color: var(--secondary-color);
  border-radius:5px;
}
.content__guide-text{
  font-size:2rem;
  font-weight: 600;
  display: block;
  color: var(--white-color);
  padding: 30px 0 10px;
}
.content__guide-sub{
  font-size:1.5rem;
  color: var(--text-color);
  line-height: 1.7;
  letter-spacing:0.5px;
}
.content__guide-wrap:hover .content__guide-sub{
  color: var(--white-color);
}
.content__guide-wrap:hover .content__guide-background-icon{
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  transform: rotate(-25deg);
}